.nav-bar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0;
  height: 3rem;
  background-color: #242424;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid #fff;
}

.nav-logo {
  position: absolute;
  left: 0;
  padding: 0 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  /*background: linear-gradient(210deg, 1%, #ff0000, 50%, #2d4cff, 100%);*/
  background: linear-gradient(.10turn, red, 55%, blue);
  color: transparent;
  text-decoration: none;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
}

.nav-logo:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(.15turn,white, 100%);
  
}

a {
  text-decoration: none !important;
  color: inherit;
}

.nav-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.nav-links-container {
  position: absolute;
  right: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  width: 40px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 15px;
  line-height: 1;
}

.floating-nav-items {
  position: absolute;
  top: 5.125rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 3.84rem);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.menu-nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  width: 400px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  text-decoration: none;
  color: black;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.menu-nav-items .nav-link {
  width: 70px;
}

@media screen and (max-width: 768px) {
  .floating-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 1rem);
    top: 3.84rem;
  }
  
  .nav-link {
    width: 200px;
  }
}

@media screen and (min-width: 769px) {

}

@media screen and (max-width: 1024px) {
  
}